body {
  background-color: #202020;
}

.App {
  text-align: center;
  margin-top: 2rem;
  line-height: 7rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-input {
  width: 50%;
  margin: 4px;
  border-style: none;
  border-bottom-style: dashed;
  font-size: xx-large;
  text-align: center;
  background-color: #202020;
  color: #ffffff;
}

.words-holder {
  font-size: xx-large;
}

.speed {
  color: #fff;
}

.appName{
  text-align: center;
  font-size: 5rem;
}

.gitBtn{
  margin-left: 1rem;
  margin-top: 1rem;
}