body {
  background-color: #202020;
}

.App {
  text-align: center;
  margin-top: 2rem;
  line-height: 7rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-input {
  width: 50%;
  margin: 4px;
  border-style: none;
  border-bottom-style: dashed;
  font-size: xx-large;
  text-align: center;
  background-color: #202020;
  color: #ffffff;
}

.words-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: xx-large;
}

.speed {
  color: #fff;
}

.appName{
  text-align: center;
  font-size: 5rem;
  color: #ffffff;
  text-shadow: 1px 5px 0px #ffffff52;
}

.gitBtn{
  text-align: right;
  padding: 15px;
  flex-direction: "row";
}

.wpmReset{
  display: grid
}

.speed{
  text-align: initial;
  grid-area: 1 / col4-start;
}

.word-amount {
  color: #fff;
  line-height: initial;
  font-size: 1.2rem;
}

.word-amount input {
  margin-left: 10px;
  font-size: 1.2rem;
  width: 50px;
}