
html {
  --primary-color: #282c34;
  --secondary-color: #fff;

}

/* Redefine our color variables if the data-theme attr
  value is "dark
*/

html[data-theme="dark"] {
  --primary-color: #fff;
  --secondary-color: #282c34;
}




body {
  background-color: var(--secondary-color)
}

.App {
  text-align: center;
  margin-top: 2rem;
  line-height: 7rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-input {
  width: 50%;
  margin: 4px;
  border-style: none;
  border-bottom-style: dashed;
  font-size: xx-large;
  text-align: center;
  background-color:var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.words-holder {
  font-size: xx-large;
}

.appName{
  text-align: center;
  font-size: 5rem;
  color: var(--primary-color);
  text-shadow: 1px 5px 0px #ffffff52;
}

.gitBtn{
  text-align: right;
  padding: 15px;
  flex-direction: "row";
}

.score{
  text-align: initial;
  font-size: 15px;
  color:var(--primary-color);
  margin: 10px;
  text-decoration: underline;
}

.reset-score {
  background: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 10%;
  color: orange;
  border-color: orange;
  margin-left: 15px;
  padding: 5px;
  cursor: pointer;
}


.reset-score:hover {
  background-color: orange;
  color: black;
}


/* CSS styling for our switch */
.switch {
  display: flex;
  position: relative;
  width: 60px;
  height: 30px;
  margin-right: 10px;
  float: right;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:var(--primary-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(38, 168, 243);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color:var(--primary-color);
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}