html {
  --correct: #058A052B;
  --wrong: #8A05052B;
}

html[data-theme="dark"] {
  --correct: #77db772b;
  --wrong: #db77772b;
}

.letter {
  color: var(--primary-color);
}

.letter-correct {
  background-color: var(--correct);
}

.letter-wrong {
  background-color: var(--wrong);
}

.letter-inactive {
  background-color: var(--secondary-color);
}